__pycache__/
*.py[cod]
*.jou
*.log
.Xil/
hardware/source/fk33_fjar_bscan_350/
hardware/source/fk33_bscan_protocol_probe/
hardware/source/*.dcp
hardware/source/*.bit
hardware/source/*.rpt
hardware/source/*.pb
